.header_container {
  display: flex;
  align-items: center;
  height: 60px;
  position: sticky;
  z-index: 999;
  top: 0;
  background-color: #131921;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  height: 22x !important;
  padding: 5px;
  background-color: #cd9042;
}

.header_locationIcon {
  color: white;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}

.header_option_lineone {
  font-size: 10px;
}

.header_option_linetwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionCart {
  display: flex;
  align-items: center;
  color: white;
}

.header_cartCount {
  margin-left: 10px;
  margin-right: 10px;
}
