.cartItem {
  display: flex;
  padding: 20px;
  width: 90%;
}

.cartItem_info {
  padding-left: 20px;
}

.cartItem_image {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.cartItem_info > button {
  background-color: #f0c14b;
  border-radius: 2px;
  width: 200px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #816a29;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: black;
}

.cartItem_title {
  font-size: 17px;
  font-weight: 600;
}
.cartItem_rating {
  display: flex;
}
